In [21]:
import pandas as pd
import numpy as np
dir='F:\T-11.xlsx'
data= pd.read_excel(dir)
data.head(2)

,Name,Department,Semester,Location,University,Mobile,E-mail,Values
0,Anower Hossen SUMON,CSE,5th,Chittagong,IIUC,1.857949e+09,a.h.sumon2607@gmail.com,100
1,Irfanul SALAM,CSE,8th,Chittagong,IIUC,1.825864e+09,risat36@gmail.com,80

In [22]:
data['Values']

0     100
1      80
2      70
3     100
4      90
5      50
6      60
7      55
8      95
9      85
10     40
Name: Values, dtype: int64

In [23]:
data['Values']=data['Values'].apply(lambda x: x/10)
print(data['Values'])

0     10.0
1      8.0
2      7.0
3     10.0
4      9.0
5      5.0
6      6.0
7      5.5
8      9.5
9      8.5
10     4.0
Name: Values, dtype: float64