In [4]:
import pandas as pd
dir="D:\pandas-master\Pokemon1.xlsx"
data=pd.read_excel(dir)
data.tail(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
349,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
350,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
351,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True